.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: black;
}
.direction{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    background: #c8ebf4;
}
.name{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: black;
    background: #c8ebf4;
}
.direction:hover{
    background-color:#c8ebf4;
    color:black;
}
.tesman {
    color:red;
}
.berta {
    color:blue;
}
