.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: black;
}
.direction{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    background: #c8ebf4;
}
.name{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: black;
    background: #c8ebf4;
}
.direction:hover{
    background-color:#21dc0c;
    color:black;
}
.tesman {
    color:red;
}
.tesman:hover{
    cursor: pointer; 
    text-shadow: 2px 2px 4px #c6ee27; 
    border: 1px dashed #e60909; 
}
.berta {
    color:brown;
}
.berta:hover{
    cursor: pointer; 
    text-shadow: 2px 2px 4px #73e129; 
    border: 1px dashed #FF5733; 
}
.table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    border: 5px;
}
.table th, .table tr {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
.table td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
.table tr:nth-child(even) {
    background-color: bisque;
}
.table tr:nth-child(odd) {
    background-color: rgb(102, 242, 14);
}
.table th {
    background-color: aqua;
}

.table td:hover {
    cursor: pointer; 
    text-shadow: 2px 2px 4px yellow; 
    border: 1px solid #FF5733; 
}
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.navbar {
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}


.bottom-navbar i{
    margin-right: 5px;
}

