.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: black;
}
.direction{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    background: #c8ebf4;
}
.name{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: black;
    background: #c8ebf4;
}
.direction:hover{
    background-color:#c8ebf4;
    color:black;
}
.tesman {
    color:red;
}
.tesman:hover{
    cursor: pointer; 
    text-shadow: 2px 2px 4px #72ec08; 
    border: 1px dashed #e60909; 
}
.berta {
    color:brown;
}
.berta:hover{
    cursor: pointer; 
    text-shadow: 2px 2px 4px #0c3fe8; 
    border: 1px dashed #FF5733; 
}
.table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    border: 5px;
}
.table th, .table tr {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
.table td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
.table tr:nth-child(even) {
    background-color: bisque;
}

.table td:hover {
    cursor: pointer; 
    text-shadow: 2px 2px 4px yellow; 
    border: 1px solid #FF5733; 
}

